# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
venv*/
*.pyc

# IDE files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# Environment variables file
.env
venv/
env/
ENV/
.venv/
.ENV/
env.bak/
venv.bak/

# Environment config files
Lib/
Scripts/
pyvenv.cfg

# Other project-specific files
instance/
*.swp

# Static files and database
uploads
database.db