main {
  display: flex;
  gap: 4rem;
  justify-content: center;
  flex-direction: column;
}

.go-back {
  text-align: center;
  margin-top: 2rem;
  display: block;
  width: fit-content;
  margin-inline: auto;
}

.go-back::before {
  content: "<";
  margin-right: 5px;
  opacity: 0;
    transition: all 0.3s ease-in-out;
}

.go-back:hover::before {
  opacity: 1;
}

.go-back::after {
  content: "";
  width: 0;
  height: 1px;
  margin-top: 1.5px;
  background: white;
  display: block;
  transition: all 0.3s ease-in-out;
}

.go-back:hover::after {
  width: 100%;
}

.name {
  margin: 0 0 2rem;
  padding: 0;
  font-family: "Dark", sans-serif;
  font-size: 70px;
  color: white;
  font-weight: lighter;
  position: relative;
}

.slogan {
  font-size: 19px;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.398);
}

.logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-inline: auto;
  position: absolute;
    top: -36px;
    left: 0;
    right: 0;
    bottom: 0;

}

.form-box {
  width: 100%;
  max-width: 320px;
  background: #342a7d;
  color: white;
  box-sizing: border-box;
  padding: 4rem 2rem 2rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 50px 7px black;
  position: relative;
}

.form-box h2 {
    margin-block-end: 2rem;
    text-align: center;
    color: #d37e7e;
}

.form-box label {
  font-size: .875rem;
  font-weight: bold;
  display: block;
}

.form-box .change-password-form {
    display: grid;
    gap: 1.5rem;
}

.form-box .form-group {
    display: grid;
    gap: .2rem;
}

.form-box .form-group input {
  width: 100%;
  color: white;
  background: transparent;
  border: none;
  border-bottom: 1px solid gold;
  outline: none;
  font-size: 16px;
}

.form-box .change-password-form input[type="submit"] {
  background: #d37e7e;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  border-radius: .5rem;
}

.form-box .change-password-form input[type="submit"]:hover {
  background: #a14040;
  color: white;
}

.go-back {
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  margin-block-start: 1.2rem;
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
  }
}
