
.nombre {
  position: relative;
  font-family: dark;
  color: white;
  font-weight: lighter;
  left: 100px;
  bottom: 50px;
  width: 100%;
  height: 10px;
}

.post-user-info {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 1.2rem;
  gap: 1rem;
}

.container-post {
  background-color: #342a7d;
  box-shadow: 0 0 3px #51319e;
  padding-block: 1rem;
  padding-inline: 1rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 450px;
}

.post-header {
  display: flex;
  gap: 2rem;
  max-width: 370px;
  margin-inline: auto;
}

.image-container {
  margin-block-start: 1.5rem;
  display: block;
}

.image-container figure {
  margin: 0;
  display: flex;
  justify-content: center;
}

.time {
  font-size: small;
  margin: 0;
  padding: 0;
}

.time2 {
  font-size: small;
  margin: 0;
  padding: 0;
}

.post-text {
  font-size: medium;
  text-align: justify;
  width: 80%;
  color: white;
  margin: 10px 10px 10px 15px;
  bottom: 80px;
  left: 60px;
  padding: 0;
}

.imgpubli {
  max-width: 300px;
  max-height: 250px;
  object-fit: contain;
  margin: auto;
  border: 1px black solid;
  border-radius: 1rem;
}



.opci {
  width: 50px;
  height: 30px;
  background-color: rgba(64, 45, 110, 0.294);
  cursor: pointer;
  font-size: larger;
  color: whitesmoke;
}

.opci1 {
  width: 50px;
  height: 30px;
  background-color: rgba(64, 45, 110, 0.294);
  cursor: pointer;
  font-size: larger;
  color: whitesmoke;
}

.formularioOpc {
  display: none;
  width: 90px;
  height: 90px;
  border-radius: 10px;
  background-color: rgba(245, 245, 220, 0.76);
  box-shadow: 0 0 3px #9f9e9e;
  z-index: 99;
  /*visibility: hidden;                         ocultar pestaña de editar */
}

#editar,
#eliminado {
  background-color: gold;
  font-size: medium;
  left: 2px;
  border: none;
  display: grid;
  padding: 5px;
  margin: 5px;
  border-radius: 7px;
  cursor: pointer;
}

#publish {
  width: 10rem;
}

#publi::placeholder {
  color: white;
}

input[type="button"] {
  position: relative;
  border: none;
  outline: none;
  height: 30px;
  background: gold;
  font-size: 15px;
  border-radius: 10px;
  font-weight: bold;
  top: 260px;
  right: 40px;
}

#btn:hover,
#adj:hover {
  color: black;
  background: #c48319;
  cursor: pointer;
}

.foto,
.avatar {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#carf {
  position: relative;
  width: 30px;
  height: 30px;
  bottom: 8px;
  padding: 5px;
  border-radius: 35%;
  left: -10px;
  color: white;
}

.padre1 .hijo1 {
  position: absolute;
  bottom: 1px;
  width: 120px;
  z-index: 99;
}

.padre1 .hijo1:hover {
  border-radius: 10px;
  background-color: rgba(131, 124, 124, 0.493);
  cursor: pointer;
}

.foto1 {
  position: relative;
  width: 25px;
  height: 25px;
  bottom: 0px;
  padding: 5px;
  border-radius: 35%;
  left: 0px;
}

.calificar {
  position: relative;
  width: 30px;
  height: 30px;
  bottom: 10px;
  padding: 5px;
  border-radius: 35%;
  left: -10px;
  color: white;
}

.padre1 .hijo2 {
  position: absolute;
  bottom: 1px;
  left: 150px;
  width: 130px;
  z-index: 99;
}

.hijo3 {
  position: relative;
  bottom: 19rem;
  left: 32rem;
  width: 130px;
  margin: 0;
}

.padre1 .hijo2:hover {
  border-radius: 10px;
  background-color: rgba(131, 124, 124, 0.493);
  cursor: pointer;
}

.foto2 {
  position: relative;
  width: 25px;
  height: 25px;
  bottom: -2px;
  left: 5px;
  padding: 5px;
  border-radius: 35%;
}

.comentar {
  position: relative;
  width: 30px;
  height: 30px;
  bottom: 10px;
  padding: 5px;
  border-radius: 35%;
  left: 0px;
  color: white;
}

#carga_edit {
  position: relative;
  width: 270px;
  height: 180px;
  right: 40px;
  align-content: center;
  left: 25px;
  border-radius: 5px;
}

input[type="button"]:hover {
  color: black;
  background: #c48319;
  cursor: pointer;
}

.user_avatar {
  width: 65px;
  height: 65px;
  display: inline-block;
  vertical-align: middle;
}

#user_avatar img {
  position: relative;
  bottom: 20px;
  left: 39px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.user_avatar img {
  position: relative;
  bottom: 20px;
  left: 5px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

/* MEDIA QUERIES */

@media screen and (min-width: 640px){
  .imgpubli {
    max-widtH: 370px;
    max-height: 300px;
  }
  
}