@font-face {
  font-family: dark;
  src: url(../img/Dark.otf);
}

p {
  margin: 0;
}

body {
  margin: 0;
  background-image: url(../img/fondo.png) /*#2A2740*/;
  background-size: 100%;
  font-family: sans-serif;
  height: 100vh;
  overflow-y: scroll;
}

.nombre {
  position: relative;
  font-family: dark;
  color: white;
  font-weight: lighter;
  left: 100px;
  bottom: 50px;
  width: 100%;
  height: 10px;
}

.nom{
  width: 30vw;
}

h2 {
  position: relative;
  width: 9cm;
  font-size: 10px;
  left: 100px;
  top: -40px;
  color: white;
}

.login-box {
  position: relative;
  width: 500%;
  height: 20px;
  background: #342a7d;
  color: white;
  top: -12%;
  left: 1px;
  box-sizing: border-box;
  padding: 70px 30px;
  box-shadow: 3px 3px 50px 7px black;
  position: fixed;
}

.login-box .avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  left: 1%;
  top: 25px;
  transform: translate(-50%, -10%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 1.2rem;
  gap: 1rem;
}

.container-post {
  background-color: #342a7d;
  box-shadow: 0 0 3px #51319e;
  padding-block: 1rem;
  padding-inline: 1rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 450px;
}

.post-header {
  display: flex;
  gap: 2rem;
  max-width: 370px;
  margin-inline: auto;
}

.image-container {
  margin-block-start: 1.5rem;
  display: block;
}

.image-container figure {
  margin: 0;
  display: flex;
  justify-content: center;
}

.time {
  font-size: small;
  margin: 0;
  padding: 0;
}

.time2 {
  font-size: small;
  margin: 0;
  padding: 0;
}

.parrafo {
  font-size: medium;
  text-align: justify;
  width: 80%;
  color: white;
  margin: 10px 10px 10px 15px;
  bottom: 80px;
  left: 60px;
  padding: 0;
}

.imgpubli {
  width: 300px;
  height: 250px;
  margin: auto;
  border: 1px black solid;
  border-radius: 1rem;
}


.publicacion {
  margin-block-start: 2rem;
}

.publicar {
  background-color: #342a7df8;
  max-width: 400px;
  min-height: 450px;
  border-radius: 20px;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block: 1rem;
}

.opci {
  width: 50px;
  height: 30px;
  background-color: rgba(64, 45, 110, 0.294);
  cursor: pointer;
  font-size: larger;
  color: whitesmoke;
}

.opci1 {
  width: 50px;
  height: 30px;
  background-color: rgba(64, 45, 110, 0.294);
  cursor: pointer;
  font-size: larger;
  color: whitesmoke;
}

.formularioOpc {
  display: none;
  width: 90px;
  height: 90px;
  border-radius: 10px;
  background-color: rgba(245, 245, 220, 0.76);
  box-shadow: 0 0 3px #9f9e9e;
  z-index: 99;
  /*visibility: hidden;                         ocultar pestaña de editar */
}

.publication-buttons {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#editar,
#eliminado {
  background-color: gold;
  font-size: medium;
  left: 2px;
  border: none;
  display: grid;
  padding: 5px;
  margin: 5px;
  border-radius: 7px;
  cursor: pointer;
}

#publish,
#adj {
  background-color: gold;
  font-size: medium;
  left: 2px;
  border: none;
  padding-block: .5rem;
  padding-inline: .8rem;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#publish {
  width: 10rem;
}

#publi::placeholder {
  color: white;
}

#publi {
  margin: 0;
  padding-inline: .5rem;
  padding-block-start: .7rem;
  height: 90px;
  min-width: 90%;
  border: none;
  font-family: inherit;
  background-color: transparent;
  letter-spacing: 1px;
  outline: none;
  color: white;
  border: 1px #fff solid;
  border-radius: 10px;
  display: block;
}

input[type="button"] {
  position: relative;
  border: none;
  outline: none;
  height: 30px;
  background: gold;
  font-size: 15px;
  border-radius: 10px;
  font-weight: bold;
  top: 260px;
  right: 40px;
}

#btn:hover,
#adj:hover {
  color: black;
  background: #c48319;
  cursor: pointer;
}

.foto,
.avatar {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#carf {
  position: relative;
  width: 30px;
  height: 30px;
  bottom: 8px;
  padding: 5px;
  border-radius: 35%;
  left: -10px;
  color: white;
}

.padre1 .hijo1 {
  position: absolute;
  bottom: 1px;
  width: 120px;
  z-index: 99;
}

.padre1 .hijo1:hover {
  border-radius: 10px;
  background-color: rgba(131, 124, 124, 0.493);
  cursor: pointer;
}

.foto1 {
  position: relative;
  width: 25px;
  height: 25px;
  bottom: 0px;
  padding: 5px;
  border-radius: 35%;
  left: 0px;
}

.calificar {
  position: relative;
  width: 30px;
  height: 30px;
  bottom: 10px;
  padding: 5px;
  border-radius: 35%;
  left: -10px;
  color: white;
}

.padre1 .hijo2 {
  position: absolute;
  bottom: 1px;
  left: 150px;
  width: 130px;
  z-index: 99;
}

.hijo3 {
  position: relative;
  bottom: 19rem;
  left: 32rem;
  width: 130px;
  margin: 0;
}

.padre1 .hijo2:hover {
  border-radius: 10px;
  background-color: rgba(131, 124, 124, 0.493);
  cursor: pointer;
}

.foto2 {
  position: relative;
  width: 25px;
  height: 25px;
  bottom: -2px;
  left: 5px;
  padding: 5px;
  border-radius: 35%;
}

.comentar {
  position: relative;
  width: 30px;
  height: 30px;
  bottom: 10px;
  padding: 5px;
  border-radius: 35%;
  left: 0px;
  color: white;
}

#logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
}

.nom {
  font-family: Arial;
  color: white;
  display: flex;
  gap: .5rem;
  flex-direction: column;
  justify-content: center;
}

.textarea-container {
  width: 100%;
}

#carga {
  width: 406px;
  height: 180px;
  cursor: pointer;
}

#carg {
  position: relative;
  width: 150px;
  height: 150px;
  right: 40px;
  align-content: center;
  left: 80px;
  border-radius: 25px;
}

#carga_edit {
  position: relative;
  width: 270px;
  height: 180px;
  right: 40px;
  align-content: center;
  left: 25px;
  border-radius: 5px;
}

input[type="button"]:hover {
  color: black;
  background: #c48319;
  cursor: pointer;
}

.user_avatar {
  width: 65px;
  height: 65px;
  display: inline-block;
  vertical-align: middle;
}

#user_avatar img {
  position: relative;
  bottom: 20px;
  left: 39px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.user_avatar img {
  position: relative;
  bottom: 20px;
  left: 5px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}




/* MEDIA QUERIES */

@media screen and (min-width: 640px){
  .imgpubli {
    widtH: 370px;
    height: 300px;
  }
  
}