
main {
  max-width: 700px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding-block: 1.5rem;
}



#volver2 {
  text-align: center;
  left: 105px;
  font-size: 20px;
  bottom: 70px;
}

#volver3 {
  text-align: center;
  left: 105px;
  font-size: 20px;
  bottom: 50px;
}

#duda {
  position: relative;
  bottom: 35px;
}

.title-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  margin: 0 0 2rem;
  padding: 0;
  font-family: 'Dark', sans-serif;
  font-size: 70px;
  color: white;
  font-weight: lighter;
  position: relative;
}

.subtitle {
  font-size: 19px;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.398);
}


.login-box {
  width: 100%;
  max-width: 320px;
  background: #342a7d;
  color: white;
  box-sizing: border-box;
  padding: 2rem 1rem 3rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 50px 7px black;
}

.login-box h3 {
  margin-bottom: 1rem;
  color: #d37e7e;
  font-size: 1.4rem;
}

.login-box .avatar {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-inline: auto;
  margin-block-start: -6rem;
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  display: block;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  color: white;
}

.user-container,
.password-container {
  margin-bottom: 2rem;
}

h3 {
  padding-block-start: 2rem;
}

.login-box input[type="email"],
.login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid gold;
  background: transparent;
  outline: none;
  height: 40px;
  color: white;
  font-size: 16px;
}

.login-box ::placeholder {
  color: gray;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: gold;
  color: black;
  font-size: 19px;
  border-radius: 20px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.login-box input[type="submit"]:hover {
  color: black;
  background: #c48319;
  cursor: pointer;
}

.login-box .links {
  display: grid;
  gap: .6rem;
  margin-block-start: 1rem;
}

.login-box .links a {
  font-size: .75rem;
  text-decoration: underline;
}

.login-box .links a:hover {
  color: #c48319;
}

@media screen and (min-width: 640px){
  main {
    flex-direction: row;
    padding-block: 6rem;
  }
}