a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.2rem 1rem;
  padding-inline: 1.5rem;
}

/* Navigation */
.nav-main {
  font-size: 17px;
  display: flex;
}

.nav-brand {
  width: 50px;
}

/* Navbar Left */


.nav-main ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1.2rem;
}

.nav-main ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-main ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: all 0.3s;
  margin-top: 6px;
}

.nav-main ul li a:hover::after{
  border-bottom: 1.5px solid #fff;
  width: 100%;
}

.nav-main ul.nav-menu {
  flex: 1;
}

hr {
  margin: 4px 0;
}

#texto {
  text-decoration: none;
  outline: none;
  width: 300px;
  height: 35px;
  position: relative;
  display: block;
  border-radius: .5rem;
}
