.login-box {
    width: 100%;
    max-width: 320px;
    background: #342a7d;
    color: white;
    box-sizing: border-box;
    padding: 2rem 1rem 3rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 50px 7px black;
}

.login-box .avatar {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-inline: auto;
    margin-block-start: -6rem;
  }

  .get-back {
    text-align: center;
    left: 105px;
    font-size: 20px;
  }