.container-full-post {
  background-color: #342a7d;
  box-shadow: 0 0 3px #51319e;
  height: auto;
  max-width: 800px;
  margin-inline: auto;
  margin-block: 0 2rem;
  border-radius: 20px;
  padding-inline: 2rem;
  padding-block: 2.5rem;
}

.publication-header {
  display: flex;
  gap: 2rem;
}

.avatar {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post-header {
  font-family: Arial;
  color: white;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
}

.post-header > p {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
  color: #e6e6e6;
}

.delete-edit {
  display: flex;
  gap: 1rem;
}

.delete-edit a,
.delete-edit button {
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  font-size: medium;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  border: none;
}

.delete-edit button#delete-post-trigger {
  background-color: #c0330c;
}

.delete-edit button#delete-post-trigger:hover {
  background-color: #922101;
}

.delete-edit a#edit-post {
  background-color: #ce9231;
}

.delete-edit a#edit-post:hover {
  background-color: #9a6105;
}

.post-image {
  max-width: 250px;
  max-height: 200px;
  border: 1px black solid;
  margin-inline: auto;
  object-fit: contain;
}

.post-text {
  font-size: medium;
  width: 100%;
  color: white;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  background-color: #5945ef;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.comment_block {
  padding-block: 2rem;
  padding-inline: 2rem;
  background-color: #342a7d;
  border-radius: 20px;
  max-width: 650px;
  width: 80%;
}

.comment_block .create_new_comment {
  position: relative;
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2rem;
}

.comment_block .create_new_comment .input_comment {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: end;
  width: 100%;
}

.comment_block .create_new_comment input[type="submit"] {
  outline: none;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: gold;
  border-radius: 10px;
  font-size: medium;
  font-weight: bold;
  border-radius: 1rem;
  transition: background 0.3s ease-in-out;
}

.comment_block .create_new_comment input[type="submit"]:hover {
  color: black;
  background: #c48319;
  cursor: pointer;
}

.comment_block .create_new_comment .input_comment #new_comment_text {
  width: 90%;
  font-family: sans-serif;
  resize: none;
  font-weight: 300;
  font-size: 1.3rem;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #f2f2f2;
  height: 4.5rem;
  background-color: #c1baba;
}

.comment_block .create_new_comment .input_comment input[type="text"]:focus {
  outline: none;
  border-bottom: 2px solid #e6e6e6;
}

.comment_block .comment-container {
  width: 100%;
  height: auto;
  padding: 20px 0;
  border-top: 1px solid #e6e6e6;
}

.comment_block .comment-container .user_comment {
  list-style-type: none;
}

.main-comment {
  border: 1px solid #e6e6e6;
  padding-inline: 1rem;
  padding-block: 1.5rem;
  border-radius: 0.8rem;
}

.comment_block .comment-container .comment_body {
  display: inline-block;
  vertical-align: middle;
  min-height: 65px;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 10px;
}

.comment_block .comment-container .comment_toolbar {
  width: 100%;
  margin-top: 1.5rem;
}

.delete-comment-trigger {
  background-color: #c0330c;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  font-size: medium;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  border: none;
  box-shadow: 0 0 3px #1b0849;
}

.delete-comment-trigger:hover {
  background-color: #922101;
}

/* -----------------------SECCIÓN DE ENVIAR MENSAJES------------------------------- */

#texto_mensaje::placeholder {
  color: black;
}

.contenedor-texto {
  position: relative;
  width: 100%;
  height: 2px;
  top: 22px;
}

#btn_mensaje {
  background-color: gold;
  font-size: medium;
  left: 2px;
  border: none;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 7px;
  cursor: pointer;
}

#current_user_avatar {
  width: 65px;
  height: 65px;
  vertical-align: middle;
}

#current_user_avatar img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.comment_user_avatar {
  vertical-align: middle;
  margin-bottom: 1rem;
  display: flex;
  gap: 2rem;
}

.comment_user_avatar img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.comment_user_avatar .name_date {
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

/* ----------------------- DELETE COMMENT MODAL----------------------- */

#delete-comment-modal {
  background-color: rgba(125, 106, 236, 1);
  color: antiquewhite;
  border-radius: 10px;
}

#delete-comment-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#delete-comment-modal .inner {
  padding: 1rem;
}

#delete-comment-modal .inner .modal-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.2rem;
}

#delete-comment-modal .inner .modal-buttons .confirm-delete-comment,
#delete-comment-modal .inner .modal-buttons .cancel-delete-comment {
  padding: 0.4rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  border: none;
}

#delete-comment-modal .inner .modal-buttons .confirm-delete-comment {
  background-color: #c0330c;
}

#delete-comment-modal .inner .modal-buttons .confirm-delete-comment:hover {
  background-color: #922101;
}

#delete-comment-modal .inner .modal-buttons .cancel-delete-comment {
  background-color: #ce9231;
}

#delete-comment-modal .inner .modal-buttons .cancel-delete-comment:hover {
  background-color: #9a6105;
}

/* DELETE POST MODAL */

#delete-post-modal {
  background-color: rgba(125, 106, 236, 1);
  color: antiquewhite;
  border-radius: 10px;
}

#delete-post-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#delete-post-modal .inner {
  padding: 1rem;
}

#delete-post-modal .inner .modal-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.2rem;
}

#delete-post-modal .inner .modal-buttons .confirm-delete-post,
#delete-post-modal .inner .modal-buttons .cancel-delete-post {
  padding: 0.4rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  border: none;
}

#delete-post-modal .inner .modal-buttons .confirm-delete-post {
  background-color: #c0330c;
}

#delete-post-modal .inner .modal-buttons .confirm-delete-post:hover {
  background-color: #922101;
}

#delete-post-modal .inner .modal-buttons .cancel-delete-post {
  background-color: #ce9231;
}

#delete-post-modal .inner .modal-buttons .cancel-delete-post:hover {
  background-color: #9a6105;
}

/* MEDIA QUERIES */

@media screen and (min-width: 640px) {
  .post-image {
    max-width: 550px;
    max-height: 500px;
  }
}
