.message{
    padding: 10px;
    background: #342a7d;
    border-radius: 9px;
    border: 1px solid;
    box-shadow: 1px 3px 12px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    color: white;
}

.message .sender{
    font-weight: 900;
    margin-bottom: 1.3rem;
    color: gold;
}

.message .content{
    font-size: 1.2rem;
}

.no-messages {
    border-radius: .8rem;
    box-shadow: 1px 3px 12px #000;
    background: #342a7d;
    padding: 2rem;
}

.no-messages p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}