body {
  margin: 0;
  padding: 0;
  background: url(../img/fondo.png) no-repeat center top /*#2A2740*/;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
  overflow: scroll;
}
body a {
  color: gold;
}
.registro {
  margin: 0px auto;
  
  max-width: 450px;
  height: 550px;
  background: #342a7d;
  color: white;
  padding: 70px 30px;
  border-radius: 5%;
  box-shadow: 3px 3px 50px 7px black;
}
.registrate {
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 40px;
  font-size: 25px;
  font-weight: bold;
}
.registro input[type="text"] {
  border: none;
  border-bottom: 1px solid gold;
  background: transparent;
  outline: none;
  width: 200px;
  height: 50px;
  color: white;
  font-size: 16px;
  position: relative;
}
.registro input[type="email"],
.registro input[type="password"] {
  border: none;
  border-bottom: 1px solid gold;
  background: transparent;
  outline: none;
  width: 410px;
  height: 50px;
  color: white;
  font-size: 16px;
  position: relative;
  top: 20px;
}
.registro ::placeholder {
  color: gray;
}
div.fnac {
  top: 40px;
  position: relative;
  font-size: 20px;
}
#sex {
  list-style: none;
  display: inline-flex;
}

div.sexo {
  top: 20px;
  font-size: 20px;
  position: relative;
}
.registro input[type="date"] {
  top: 6px;
  position: relative;
}

.registro input[type="submit"] {
  border: none;
  height: 40px;
  width: 300px;
  background: gold;
  color: black;
  font-size: 19px;
  border-radius: 20px;
  font-weight: bold;
}
.registro input[type="submit"]:hover {
  color: black;
  background: #c48319;
  cursor: pointer;
}
.terminos {
  position: relative;
  top: 100px;
  text-align: justify;
  font-size: small;
}
#yatuc {
  text-decoration: none;
  font-size: 13px;
  line-height: 15px;
  color: white;
  text-align: center;
  position: relative;
  margin: 12.5em;
}

#yatuc:hover {
  color: gold;
  text-decoration: underline;
}

#fila {
  color: white;
  position: relative;
  bottom: 160px;
  width: 200px;
  text-align: justify;
  left: 230px;
}
