body {
  margin: 0;
  padding: 0;
  background: url(../img/fondo.png) no-repeat center top /*#2A2740*/;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
  display: grid;
  place-items: center;
}

ul,
h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

body a {
  color: gold;
}
.registro {
  margin: 0px auto;
  max-width: 450px;
  background: #342a7d;
  color: white;
  padding: 1rem 2.5rem;
  border-radius: 5%;
  box-shadow: 3px 3px 50px 7px black;
}
.registrate {
  font-size: 25px;
  font-weight: bold;
}
.registro input[type="text"] {
  border: none;
  border-bottom: 1px solid gold;
  background: transparent;
  outline: none;
  width: 200px;
  height: 50px;
  color: white;
  font-size: 16px;
  position: relative;
}

.registro input {
  border: none;
  border-bottom: 1px solid gold;
  background: transparent;
  outline: none;
  width: 410px;
  height: 50px;
  color: white;
  font-size: 16px;
}

.registro input[type="radio"] {
  width:unset;
}

.registro ::placeholder {
  color: gray;
}

.confirm-container {
  margin-bottom: 1.4rem;
}

div.fnac {
  position: relative;
  font-size: 20px;
}

.date-container {
  margin-bottom: 1rem;
}

#sex {
  list-style: none;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

#sex li {
  display: flex;
  align-items: center;
  gap: .4rem;
}

div.sexo {
  font-size: 20px;
}

.registro input[type="date"] {
  top: 6px;
  position: relative;
}

.registro input[type="submit"] {
  border: none;
  height: 40px;
  width: 300px;
  background: gold;
  color: black;
  font-size: 19px;
  border-radius: 20px;
  font-weight: bold;
  margin-bottom: 1.5rem;
  transition: background 0.3s ease;
}

.registro input[type="submit"]:hover {
  color: black;
  background: #c48319;
  cursor: pointer;
}
.terminos {
  text-align: justify;
  font-size: small;
}
#yatuc {
  text-decoration: none;
  font-size: 13px;
  line-height: 15px;
  color: white;
  text-align: center;
  position: relative;
  margin: 12.5em;
}

#yatuc:hover {
  color: gold;
  text-decoration: underline;
}

.submit-container{
  width:100%;
  display:flex;
  justify-content: center;
  margin-top: 1rem;
}

.error-message {
  color: white;
}
