section h1 {
  text-align: center;
  margin-bottom: 4rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2.5rem;
}

section .table-container {
  margin-top: 2rem;
  background-color: #376ad6;
  color: #fff;
  padding: 2rem;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead tr th {
  text-align: left;
  border-bottom: 2px solid #fff;
  padding: 1rem;
  font-size: 1.25rem;
}

table thead tr th:last-child {
  text-align: center;
}

table tbody {
  margin-top: 2rem;
}

table tbody tr td {
  padding: 1rem;
}

.table .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}

.table .table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.2);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.table-hover tbody tr td:last-child {
  display: flex;
  gap: .875rem;
  justify-content: center;
  align-items: center;
}

.table-hover tbody tr td:last-child button {
  padding: 0.2rem .25rem;
  max-width: 50%;
  border-radius: 5px;
}

.table-hover tbody tr td:last-child .btn-danger {
  color: #c74747e8;
  background-color: #fff;
  border: 1px solid #c74747e8;
}

.table-hover tbody tr td:last-child .btn-danger:hover {
  color: #fff;
  background-color: #c74747e8;
}

.table-hover tbody tr td:last-child .edit-role {
  color: #376ad6;
  background-color: #fff;
  border: 1px solid #376ad6;
}

.table-hover tbody tr td:last-child .edit-role:hover {
  color: #fff;
  background-color: #376ad6;
}