section h1 {
  text-align: center;
  margin-bottom: 4rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2.5rem;
}

section .table-container {
  margin-top: 2rem;
  background-color: #376ad6;
  color: #fff;
  padding: 2rem;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead tr th {
  text-align: left;
  border-bottom: 2px solid #fff;
  padding: 1rem;
  font-size: 1.25rem;
}

table thead tr th:last-child {
  text-align: center;
}

table tbody {
  margin-top: 2rem;
}

table tbody tr td {
  padding: 1rem;
}

.table .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}

.table .table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.2);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.table-hover tbody tr td:last-child {
  display: flex;
  gap: .875rem;
  justify-content: center;
  align-items: center;
}

.table-hover tbody tr td:last-child button {
  padding: 0.2rem .25rem;
  max-width: 50%;
  border-radius: 5px;
}

.table-hover tbody tr td:last-child .trigger-delete-user {
  color: #c74747e8;
  background-color: #fff;
  border: 1px solid #c74747e8;
}

.table-hover tbody tr td:last-child .trigger-delete-user:hover {
  color: #fff;
  background-color: #c74747e8;
}

.table-hover tbody tr td:last-child .trigger-delete-role {
  color: #376ad6;
  background-color: #fff;
  border: 1px solid #376ad6;
}

.table-hover tbody tr td:last-child .trigger-delete-role:hover {
  color: #fff;
  background-color: #376ad6;
}

/* Delete and Edit role modals */

#edit-role-modal,
#delete-user-modal {
  border-radius: 10px;
  padding: 2rem
}

#delete-user-modal .content .modal-title,
#edit-role-modal .content .modal-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}

#delete-user-modal .content .modal-subtitle {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  text-align: center;
}

#delete-user-modal .content .buttons,
#edit-role-modal .content .buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

#delete-user-modal .content .buttons button,
#edit-role-modal .content .buttons button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

#delete-user-modal .content .buttons button.cancel,
#edit-role-modal .content .buttons button.cancel {
  color: #fff;
  background-color: #c74747e8;
  border: 1px solid #c74747e8;
}

#delete-user-modal .content .buttons button.cancel:hover,
#edit-role-modal .content .buttons button.cancel:hover {
  color: #c74747e8;
  background-color: #fff;
}

#delete-user-modal .content .buttons button.confirm,
#edit-role-modal .content .buttons button.confirm {
  color: #fff;
  background-color: #376ad6;
  border: 1px solid #376ad6;
}

#delete-user-modal .content .buttons button.confirm:hover,
#edit-role-modal .content .buttons button.confirm:hover {
  color: #376ad6;
  background-color: #fff;
}

#edit-role-modal::backdrop,
#delete-user-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}