body {
  margin: 0;
  padding: 0;
  background: url(../img/fondo.png) no-repeat center top /*#2A2740*/;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
  overflow: scroll;
}
#logo {
  margin: 10px;
  border-radius: 50%;
  position: absolute;
  right: 80%;
  width: 115px;
  height: 115px;
  box-shadow: 1px 1px 10px 1px white;
}
h3 {
  color: white;
  position: absolute;
  left: 290px;
}
.search-bar input[type="text"] {
  width: 60vw;
  border-radius: 25px;
  height: 45px;
  position: absolute;
  left: 20%;
  top: 8%;
  font-size: 1.96rem;
}
#results {
  margin-top: 10%;
  padding: 10px;
  position: absolute;
  width: 80%;
  left: 10%;
  background: #342a7d;
  border-radius: 9px;
  border: 1px solid;
  box-shadow: 1px 3px 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

#results img {
  position: relative;
  height: 230px;
  width: 320px;
  margin: 0 5px;
  border: 1px solid;
  box-shadow: 1px 3px 12px;
  left: 13px;
}

#img-results {
  color:white;
  top:17.5rem;
  margin-top: 10%;
  padding: 10px;
  position: relative;
  width: 80%;
  left: 10%;
  background: #342a7d;
  border-radius: 9px;
  border: 1px solid;
  box-shadow: 1px 3px 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-bottom: 3rem;
}
#img-results img {
  position: relative;
  height: 280px;
  width: 320px;
  margin: 0 5px;
  border: 1px solid;
  box-shadow: 1px 3px 12px;
  left: 13px;
}

#user-results{
  margin-top: 10%;
  padding: 10px;
  position: absolute;
  width: 80%;
  left: 10%;
  background: #342a7d;
  border-radius: 9px;
  border: 1px solid;
  box-shadow: 1px 3px 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  color: white;
}

.fila {
  height                    : 35px;
}


.c6 {
  width                     : 60%;
  display                   : inline;
  float                     : left;
  overflow-x                : hidden;
}

.c2 {
  width                     : 20%;
  display                   : inline;
  float                     : left;
  overflow-x                : hidden;
  color: white;
}

#editbtn {
  position: relative;
  display: flex;
  margin: 5px;
  border: none;
  outline: none;
  height: 30px;
  background: gold;
  font-size: 15px;
  border-radius: 10px;
  font-weight: bold;
  left: 287px;
  top: 50px;
}

#editbtn:hover {
  color: black;
  background: #c48319;
  cursor: pointer;
}

/* ----------------------------------ICONOS RESULTADOS----------------------------  */

.mpicon{
  width: 10px;
  margin-left: 600px;

}
.mpicon img{
  bottom: 10px;
  width: 50px;
  height: 45px;
}


/* -------------------------------FINAL ICONOS RESULTADOS---------------------------- */


