.no-posts {
  display: flex;
  gap: .5rem;
  flex-direction: column;
}

.no-posts p {
  color: white;
  font-size: 1.5rem;
  text-align: center;

}

.no-posts p a {
  color: gold;
  text-decoration: underline;
}

.no-posts p a:hover {
  color: rgb(244, 195, 48);
}

.profile-header {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin-inline: auto;
  align-items: center;
  gap: 1.5rem;
}

#avatar {
  border-radius: 50%;
  width: 115px;
  box-shadow: 1px 1px 10px 1px white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#avatar:hover {
  transform: scale(1.1);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

p.username {
  color: white;
}

.search-bar input[type="text"] {
  width: 60vw;
  border-radius: 25px;
  height: 45px;
  font-size: 1.96rem;
}

#results {
  margin-top: 3rem;
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  padding-block: 2.5rem;
  padding-inline: 2rem;
  background: #342a7d;
  border-radius: 9px;
  border: 1px solid;
  box-shadow: 1px 3px 12px;
  display: grid;
  grid-gap: 1.5rem;
  color: #fff;
}

#results .post-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 90%;
  margin-inline: auto;
  box-shadow: 1px 3px 12px 1px rgba(0, 0, 0, .7);
  border-radius: 10px;
  padding: 1rem;
  max-width: 310px;
}

.post-container .post-user {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.post-user img {
  border-radius: 50%;
  width: 50px;
  box-shadow: 1px 1px 10px 1px white;
}

.post-container .image-container img{
  width: 240px;
  max-width: 100%;
  display: block;
  margin-inline: auto;
}


/* Search results */
#img-results {
  color:white;
  padding: 10px;
  background: #342a7d;
  border-radius: 9px;
  border: 1px solid;
  box-shadow: 1px 3px 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-bottom: 3rem;
}

#img-results img {
  position: relative;
  height: 280px;
  width: 320px;
  margin: 0 5px;
  border: 1px solid;
  box-shadow: 1px 3px 12px;
  left: 13px;
}

#user-results{
  background: #342a7d;
  border-radius: 9px;
  border: 1px solid;
  box-shadow: 1px 3px 12px;
  display: flex;
  flex-direction: column;
  color: white;
}

.fila {
  height                    : 35px;
}


.c6 {
  width                     : 60%;
  display                   : inline;
  float                     : left;
  overflow-x                : hidden;
}

.c2 {
  width                     : 20%;
  display                   : inline;
  float                     : left;
  overflow-x                : hidden;
  color: white;
}

.username {
  font-size: 1.5rem;
  font-weight: bold;
}

.profile-link {
  border: none;
  outline: none;
  background: gold;
  font-size: 15px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  padding: 1rem 2rem;
  color: rgb(64, 54, 38);
  transition: all 0.3s ease-in-out;
}

.profile-link:hover {
  color: black;
  background: #c48319;
}

/* ----------------------------------ICONOS RESULTADOS----------------------------  */

.mpicon{
  width: 10px;
  margin-left: 600px;

}
.mpicon img{
  bottom: 10px;
  width: 50px;
  height: 45px;
}


/* -------------------------------FINAL ICONOS RESULTADOS---------------------------- */


