<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css' ) }}" />
    {% endblock %}
    <title>{{titulo}}</title>

    <link rel="icon" href="{{ url_for('static', filename='logo.ico') }}" />
</head>

<body>
    {% if include_header %}
    <header>
        <!-- Navigation -->
        <nav class="nav-main">
          <!-- Left Nav -->
          <ul class="nav-menu">
            <li>
              <a href="/feed/">Inicio</a>
            </li>
            <li>
              <a href="/perfil/">Perfil</a>
            </li>
            <li>
              <a href="/nueva-publicacion/">Crear publicación</a>
            </li>
            <li>
              <a href="/ayuda/">Ayuda</a>
            </li>
            <li>
              <a href="/mensajes">Mis mensajes</a>
            </li>
            <li>
              <a href="/salir/">Cerrar Sesion</a>
            </li>
            
          </ul>
        </nav>
        <form class="search-area" method="POST">
          {{form_search.search_text(placeholder="Buscar...")}}
        </form>
      </header>
      <hr />

    {% endif %}

    <main>{% block contenido %} {% endblock %}</main>
</body>

</html>