{% extends 'base.html' %} {% block css %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='/css/change-password.css' ) }}"
/>

{% block js %}
<script
  defer
  src="{{ url_for('static', filename='/js/sweetalert.js') }}"
></script>
<script
  defer
  src="{{ url_for('static', filename='/js/changePassword.js') }}"
></script>
{% endblock %}

{% endblock %} {% block contenido %} 
<div class="left">
  <h1 class="name">Python Regius</h1>
  <p class="slogan">Comparte tus mejores momentos.</p>
</div>
<div class="right">
  <div class="form-box">
    <img
      class="logo"
      src="{{ url_for('static', filename='img/Logo2.png' ) }}"
      alt="logo python regius"
    />
    <h2>Cambia tu contraseña</h2>
    <form class="change-password-form" id="change-password-form">
      <div class="form-group">
        <label for="previous_password">Contraseña anterior</label>
        {{form_change_password.previous_password}}
      </div>
      <div class="form-group">
        <label for="new_password">Nueva contraseña</label>
        {{form_change_password.new_password}}
      </div>
      <div class="form-group">
        <label for="new_password_confirm">Confirmar contraseña</label>
        {{form_change_password.new_password_confirm}}
      </div>
      <div class="submit-container">
        {{form_change_password.submit_new_password}}
      </div>
    </form>
  </div>
  <a class="go-back" href="/perfil/">Volver</a>
</div>
{% endblock %}
