{% extends 'base.html' %} {% block css %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='/css/edit-post.css' ) }}"
/>
{% endblock %} {% block contenido %} {%block js%}
<script defer src="{{ url_for('static', filename='/js/sweetalert.js' ) }}"></script>
<script defer src="{{ url_for('static', filename='/js/editPost.js' ) }}"></script>
{%endblock%}
<div class="edit-post-container">
  <form
    class="edit-post-form"
    id="edit-post-form"
  >
    <div class="user-info">
      <img
        src="{{url_for('static', filename=ava)}}"
        class="user-avatar"
        alt="user avatar"
      />
      <div class="user-full-name">
        <p>{{session['nom']}} {{session['ape']}}</p>
      </div>
    </div>
    <div class="textarea-container">
      {{form_edit_post.edited_text(placeholder="¿Que estas pensando?",
      value=current_text)}}
    </div>
    <div class="submit-container">{{form_edit_post.save_edit()}}</div>
  </form>
</div>
{% endblock %}
