{% extends 'base.html' %} {% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/feed.css' ) }}" />
{% endblock %} {% block contenido %}

<div class="container">
  {% for img in imglist %}

  <div class="container-post">
    <div class="post-header">
      <img src="{{url_for('static', filename=img['urlavatar'])}}" class="avatar" alt="user avatar" />
  
      <div class="nom">
        <p>{{img['nombre']}} {{img['apellido']}}</p>
        <p style="font-size: 12px" class="time">{{img['datepost']}}</p>
      </div>
    </div>

    <a class="image-container" href="/publicacion/{{img['id']}}">
      <figure>
        <img src="{{url_for('static', filename=img['url'])}}" alt="publicación del usuario" class="imgpubli" />
      </figure>
    </a>
  </div>
  {% endfor %}
</div>

{% endblock %}