{% extends 'base.html' %} {% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/help.css' ) }}" />
{% endblock %} {% block contenido %}
{% block js %}
<script defer src="{{ url_for('static', filename='/js/sweetalert.js' ) }}"></script>
<script defer src="{{ url_for('static', filename='/js/help.js' ) }}"></script>
{% endblock %}
<div class="name-slogan">
    <h1 class="app-name">Python Regius</h1>
    <h2 class="slogan"2>Comparte tus mejores momentos.</h2>
</div>
<div class="right">
    <div class="help-box">
        <img class="avatar" src="{{ url_for('static', filename='img/Logo2.png' ) }}" alt="Python Regius Logo" />
        <h3>Ayuda</h3>
        <form name="help-form" id="help-form">
            <div class="form-group">
                <label for="help_username">Correo electronico</label>
                {{form.help_username}}
            </div>
            <div class="form-group">
                <label for="help_doubt">¿En que podemos ayudarte?</label>
                {{form.help_doubt}}
            </div>
           
            <div class="submit-container">{{form.help_submit}}</div>
        </form>
    </div>
    <div class="go-back-container">
        <a class="go-back" href="/feed/">Volver</a>
    </div>
</div>
{% endblock %}