{% extends 'base.html' %} {% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/login.css' ) }}" />
{% endblock %} {% block contenido %}
<div class="title-subtitle">
    <h1 class="name">Python Regius</h1>
    <p class="subtitle">Comparte tus mejores momentos.</p>
</div>
<div class="login-box">
    <img class="avatar" loading="lazy" src="{{ url_for('static', filename='img/Logo2.png' ) }}" alt="company logo" />
    <h3>Inicia sesión</h3>
    <form name="login-form" id="login-form" action="/login/" method="POST">
        <div class="user-container">
            <label for="Nombre de usuario">Nombre de usuario</label>
            {{form_login.usr}}
        </div>

        <div class="password-container">
            <label for="Contraseña">Contraseña</label>
            {{form_login.pwd}}
        </div>

        <div class="submit">{{form_login.btn()}}</div>

        <div class="errors-container">
            {% for error in form_login.errors %}
            <div class="error-message">{{error}}</div>
            {% endfor %}
        </div>

    </form>
    <div class="links">
        <a href="/recuperarcontraseña/">¿Olvidaste tu contraseña?</a>
        <a href="/registro/">Crear cuenta nueva</a>
    </div>
</div>

{% endblock %}