{% extends 'base.html' %} {% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/login.css' ) }}" />
{% endblock %} 

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='/js/login.js' ) }}"></script>
{% endblock %}

{% block contenido %}
<div class="title-subtitle">
    <h1 class="app-name">Python Regius</h1>
    <p class="slogan">Comparte tus mejores momentos.</p>
</div>
<div class="login-box">
    <img class="avatar" loading="lazy" src="{{ url_for('static', filename='img/Logo2.png' ) }}" alt="company logo" />
    <h3>Inicia sesión</h3>
    <form name="login-form" id="login-form" >
        <div class="user-container">
            <label for="login_user">Nombre de usuario</label>
            {{form_login.login_user}}
        </div>

        <div class="password-container">
            <label for="login_password">Contraseña</label>
            {{form_login.login_password}}
        </div>

        <div class="submit">{{form_login.enter()}}</div>
    </form>
    <div class="links">
        <a href="/recuperarcontraseña/">¿Olvidaste tu contraseña?</a>
        <a href="/registro/">Crear cuenta nueva</a>
    </div>
</div>

{% endblock %}