{% extends 'base.html' %} {% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/new-post.css' ) }}" />
{% endblock %}

{% block contenido %}
  {% block js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='/js/newPost.js') }}"></script>
  {% endblock %}
<div class="container">
  <form class="new-post-form" id="new-post-form" action="/nueva-publicacion/" method="POST" enctype="multipart/form-data">
    <div class="user">
      <figure>
        <img src="{{url_for('static', filename=ava)}}" class="user-avatar" alt="avatar del usuario" />
      </figure>
        <div class="user-full-name">
          <p>{{session['nom']}} {{session['ape']}}</p>
        </div>
    </div>

    <div class="upload-container">
      <figure>
        <img src="{{ url_for('static', filename='img/cargar.jpg') }}" alt="Cargar Imagen placeholder" id="image-placeholder" />
      </figure>
    </div>
    <div class="textarea-container">
      {{ form_new_post.hidden_tag() }}
      {{form_new_post.post_text(placeholder="¿Que estas pensando?")}}
    </div>
    <div class="new-post-buttons">
      {{form_new_post.post_file(accept="image/*")}}

      {{form_new_post.publish()}}

      <button id="remove-image-button" hidden>
        Quitar Imagen
      </button>
    </div>
  </form>
</div>

{% endblock %}