{% extends 'base.html' %} {% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/feed.css' ) }}" />
{% endblock %}

{% block contenido %}
<div class="publicacion">
  <form class="publicar" id="newp" action="/nueva_publicacion/" method="POST" enctype="multipart/form-data">
    <img src="{{url_for('static', filename=ava)}}" id="logo" alt="avatar" />
    <div class="nom">
      <p>{{session['nom']}} {{session['ape']}}</p>
    </div>

    <div class="cargarimg" id="carga">
      <figure>
        <img src="{{ url_for('static', filename='img/cargar.jpg') }}" alt="Cargar Imagen" id="carg" />
      </figure>
    </div>
    <div class="textarea-container">
      <div id="txarea">{{form_new_post.publi(placeholder="¿Que estas pensando?")}}</div>
    </div>
    <div class="publication-buttons">
      {{form_new_post.adj()}}

      {{form_new_post.publish()}}
    </div>
    <!-- <input type="button" id="btngdr" value="Dale vida a lo que Piensas">  -->
  </form>
</div>

{% endblock %}