{% extends 'base.html' %} {% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/login.css' ) }}" />
{% endblock %} {% block contenido %}
<h2 class="logo">Python Regius</h3>
<h3>Comparte tus mejores momentos.</h3>
<div class="login-box">
    <img class="avatar" src="{{ url_for('static', filename='img/Logo2.png' ) }}" alt="logo python regius" />
    <h1>Recuperar contraseña</h1>
    <form name="password-recovery-form" id="password-recovery-form">
        <!--nombre de usuario-->
        <label for="password_recovery_email">Correo electronico</label>
        {{form_recover_password.usr}}
        <!--contraseña-->
        <label for="password_recovery_email_confirm">Confirma el correo electronico</label>
        <!--<input type="email" placeholder="Confirma el correo electronico" required>-->
        <div>{{form_recover_password.cema}}</div>
        <div class="submit-container">{{form_recover_password.btn}}</div>
    </form>
    <a class="get-back" href="/login/">Volver</a>
</div>

{% endblock %}