{% extends 'base.html' %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/verpublicaciones.css' ) }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='/css/navegacion.css' ) }}" />
{% endblock %} {% block nav %}
<div class="container2">
  <!-- Navigation -->
  <nav class="nav-main">
    <!-- Left Nav -->
    <ul class="nav-menu">
      <li>
        <a href="/feed/">Inicio</a>
      </li>
      <li>
        <a href="/perfil/">Perfil</a>
      </li>
      <li>
        <a href="/nueva_publicacion/">Crear publicación</a>
      </li>
      <li>
        <a href="/ayuda/">Ayuda</a>
      </li>
      <li>
        <a href="/salir/">Cerrar Sesion</a>
      </li>
      
    </form>
    
  </ul>
</nav>
<form class="search-area" method="POST">
  <div class="search-box">{{form.texto(placeholder="Buscar...")}}</div>
</div>
<hr />
{% endblock %} {% block contenido %}
<div class="profile-header">
  <img src="{{url_for('static', filename=ava)}}" id="avatar" alt="avatar" />
  <div class="links">
    <p class="username">{{session['nom']}} {{session['ape']}}</p>
    <a href="/editarusuario/" class="profile-link">
      Editar Perfil
    </a>
    <a href="/cambiarpsw/" class="profile-link">
      Cambiar Contraseña
    </a>
  </div>
</div>


<div id="results">
  {% for post in postList %}
  <div class="post-container">
    <div class="post-user">
      <img src="{{url_for('static', filename=post['urlavatar'])}}" />
      <a href="/perfilusr/{{post['id']}}">{{post['nombre']}} {{post['apellido']}}</a>
    </div>
    <a class="image-container" href="/publicacion/{{post['id']}}">
      <img src="{{url_for('static', filename=post['url'])}}" />
    </a>
    <div class="post-text">
      <p>{{post['text']}}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}