{% extends 'base.html' %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/verpublicaciones.css' ) }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='/css/navegacion.css' ) }}" />
{% endblock %} {% block nav %}
<div class="container2">
  <!-- Navigation -->
  <nav class="nav-main">
    <!-- Left Nav -->
    <ul class="nav-menu">
      <li>
        <a href="/feed/">Inicio</a>
      </li>
      <li>
        <a href="/perfil/">Perfil</a>
      </li>
      <li>
        <a href="/nueva_publicacion/">Crear publicación</a>
      </li>
      <li>
        <a href="/ayuda/">Ayuda</a>
      </li>
      <li>
        <a href="/salir/">Cerrar Sesion</a>
      </li>
      <form class="search-area" method="POST">
        <div class="search-box">{{form.texto(placeholder="Buscar...")}}</div>

      </form>

    </ul>
  </nav>
</div>
<hr />
{% endblock %} {% block contenido %}
<div>
  <img src="{{url_for('static', filename=ava)}}" id="logo" alt="avatar" />
  <h3>{{session['nom']}} {{session['ape']}}</h3>
</div>
<a href="/editarusuario/" class="edituser">
  <input type="button" name="elibtn" id="editbtn" value="Editar usuario" />
</a>

<a href="/cambiarpsw/" class="edituser">
  <input type="button" name="elibtn" id="editbtn" value="Cambiar contraseña" />
</a>

<div id="results">
  {% for img in imglist %}
  <a href="/publicacion/{{img[0]}}">
    <img src="{{url_for('static', filename=img[1])}}" />
  </a>
  {% endfor %}
</div>
{% endblock %}