{% extends 'base.html' %} {% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/verpublicaciones.css' ) }}" />
{% endblock %} {% block contenido %}
<div class="profile-header">
  <img src="{{url_for('static', filename=ava)}}" id="avatar" alt="avatar" />
  <div class="links">
    <p class="username">{{session['nom']}} {{session['ape']}}</p>
    <a href="/editar-usuario/" class="profile-link">
      Editar Perfil
    </a>
    <a href="/cambiarpsw/" class="profile-link">
      Cambiar Contraseña
    </a>
  </div>
</div>


<div id="results">
  {% for post in postList %}
  <div class="post-container">
    <div class="post-user">
      <img src="{{url_for('static', filename=post['urlavatar'])}}" />
      <a href="/perfilusr/{{post['id']}}">{{post['nombre']}} {{post['apellido']}}</a>
    </div>
    <a class="image-container" href="/publicacion/{{post['id']}}">
      <img src="{{url_for('static', filename=post['url'])}}" />
    </a>
    <div class="post-text">
      <p>{{post['text']}}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}