{% extends 'base.html' %} {% block css %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='/css/post-page.css' ) }}"
/>
{% endblock %} {% block contenido %}
<script
  defer
  src="{{ url_for('static', filename='/js/post-page.js') }}"
></script>
<script
  defer
  src="{{ url_for('static', filename='/js/sweetalert.js') }}"
></script>

{% block js %} {% endblock %}

<div class="container-full-post">
  <div class="publication-header">
    <div class="avausuario">
      <img
        src="{{url_for('static', filename=ava )}}"
        class="avatar"
        alt="avatar"
      />
    </div>

    <div class="post-header">
      <p>{{postInfo['nombre']}} {{postInfo['apellidos']}}</p>
      <p style="font-size: 12px" class="time">{{postInfo['datepost']}}</p>

      {% if session['ema'] == owner %}
      <div class="delete-edit">
        <button id="delete-post-trigger">Borrar publicación</button>
        <a href="/editar/{{id_img}}" id="edit-post"> Editar publicación </a>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="post-text">
    <p>{{ postInfo['text'] }}</p>
  </div>
  <div class="post-image-container">
    <figure>
      <img
        src="{{url_for('static', filename=postInfo['url'])}}"
        alt="publicación "
        class="post-image"
      />
    </figure>
  </div>
</div>
<div class="comment_block">
  <!-- Usado por #user para crear un nuevo comentario -->
  <div class="create_new_comment">
    <!-- Avatar del actual usuario -->
    <div id="current_user_avatar">
      <img src="{{url_for('static', filename=ava )}}" />
    </div>
    <!-- the input field -->
    <form class="input_comment" method="POST" id="new-comment-form">
      {{ form_comentar.new_comment_text(placeholder="Escribe aquí tu comentario")}} {{ form_comentar.new_comment_btn }}
    </form>
  </div>

  {% for comentario in commentList %}
  <!--comentario-->
  <div class="comment-container" data-comment-id="{{comentario['id']}}">
    <!-- Construir comentario -->
    <div class="user_comment">
      <div class="main-comment">
        <!-- avatar del usuario actual -->
        <div class="comment_user_avatar">
          <img
            src="{{ url_for('static', filename=comentario['urlavatar'] ) }}"
          />
          <div class="name_date">
            <p>{{comentario['nombre']}} {{comentario['apellidos']}}</p>
            <p>{{comentario['datecomment']}}</p>
          </div>
        </div>
        <!-- Cuerpo del comentario -->
        <div class="comment_body">
          <p>{{comentario['text']}}</p>
        </div>
      </div>
      <!-- comentario toolbar -->
      <div class="comment_toolbar">
        {% if session['ema'] == comentario['correo'] %}
        <button
          class="delete-comment-trigger"

        >
          Borrar
        </button>

        <button
          class="edit-comment-trigger"
        >
          Editar
        </button>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
  <dialog id="delete-comment-modal">
    <div class="inner">
      <p>¿Estás seguro que quieres eliminar este comentario ?</p>
      <div class="modal-buttons">
        <button class="cancel-delete-comment">Cancelar</button>
        <a class="confirm-delete-comment"> Borrar </a>
      </div>
    </div>
  </dialog>
  <dialog id="delete-post-modal">
    <div class="inner">
      <p>¿Estás seguro que quieres eliminar esta publicación ?</p>
      <div class="modal-buttons">
        <button class="cancel-delete-post">Cancelar</button>
        <button class="confirm-delete-post"> Borrar </button>
      </div>
    </div>
  </dialog>
  <dialog id="edit-comment-modal">
    <div class="inner">
      <p>Editar comentario</p>
      <form id="edit-comment-form">
        <textarea
          name="edit-comment-text"
          id="edit-comment-text"
          cols="30"
          rows="10"
        ></textarea>
      </form>
      <div class="modal-buttons">
        <button class="cancel-edit-comment">Cancelar</button>
        <button type="submit" class="confirm-edit-comment"> Guardar </button>
      </div>
    </div>
  </dialog>
</div>
{% endblock %}
