{% extends 'base.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/private-messages.css' ) }}" />
{% endblock %}

{% block contenido %}

{% block js %}
    <script defer src="{{ url_for('static', filename='/js/privateMessages.js' ) }}"></script>
    <script defer src="{{ url_for('static', filename='/js/sweetalert.js' ) }}"></script>
{% endblock %}

<dialog id="delete-message-modal">
    <p>
        ¿Estás seguro de que quieres eliminar este mensaje?
    </p>
    <div class="modal-buttons">
        <button id="cancel-delete-message">
            Cancelar
        </button>
        <button id="confirm-delete-message">
            Eliminar
        </button>
    </div>
</dialog>
<div class="messages-container">
    <h1>
        Tus mensajes privados
    </h1>

    {% if not message_list %}
        <div class='no-messages'>
            <p>No tienes mensajes privados</p>
        </div>
    {% else %}
        <p id="message-count">
            {% if message_list|length == 1 %}
                Tienes 1 mensaje
            {% else %}
                Tienes <span>{{ message_list|length }}</span> mensajes
            {% endif %}
        </p>
        <div class="message-list">
            {% for message in message_list %}
                <div class='message' id="message-{{ message['id'] }}">
                    <div class="message-header">
                        <p class='sender'>
                            De: <span>
                                {{ message['sender_name'] }} ({{ message['sender_last_name'] }})
                            </span>
                        </p>
                        <p class='date'>
                            Envíado en: <span>{{ message['created_at'] }}</span>
                        </p>
                    </div>
                    <div class='content'>
                        <p class="message-text">
                            {{ message['text'] }}
                        </p>
                    
                        {% if message['image_url'] %}
                            <div class="attached-image">
                                <img src="{{ url_for('static', filename=message['image_url']) }}" alt="Attached image">
                            </div>
                        {% endif %}
                    </div>
                    <div class="message-footer">
                        <button class="delete-message-trigger">
                            Eliminar
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

</div>
{% endblock %}