{% extends 'base.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/private-messages.css' ) }}" />
{% endblock %}

{% block contenido %}

<div class="mensajes">
    {% if not msgList %}
        <div class='no-messages'>
            <p>No tienes mensajes privados</p>
        </div>
    {% else %}
        {% for mensaje in msgList %}
            <div class='message'>
                <div class='sender'>{{ mensaje[0]}} {{mensaje[1]}}</div>
                <div class='content'>{{ mensaje[2] }}</div>
            </div>
        {% endfor %}
    {% endif %}
</div>

</div>
{% endblock %}