{% extends 'base.html' %} {% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/profile.css' ) }}" />
{% endblock %} {% block contenido %}

<div class="profile-header">
  {% if is_this_third_party_profile %}
    <img src="{{url_for('static', filename=user_personal_info.url_avatar)}}" id="avatar" alt="avatar" />
  {% else %}
    <img src="{{url_for('static', filename=ava)}}" id="avatar" alt="avatar" />
  {% endif %}
  <div class="links">
    {% if is_this_third_party_profile %}
      <p class="username">{{user_personal_info.name}} {{user_personal_info.lastname}}</p>
      <a href="/seguir/{{user_personal_info.id}}" class="profile-link">
        Seguir
      </a>
    {% else %}
      <p class="username">{{session['nom']}} {{session['ape']}}</p>
      <a href="/editar-usuario/" class="profile-link">
        Editar Perfil
      </a>
      <a href="/cambiar-contraseña/" class="profile-link">
        Cambiar Contraseña
      </a>
    {% endif %}
  </div>
</div>


<div id="results">

  {% if postList|length == 0 %}
  <div class="no-posts">
    <p>
      Todavía no has publicado nada.
    </p>
    <p>
      Publica tu primer post haciendo clic <a href="/nueva-publicacion">Aquí</a>
    </p>
  </div>

  {% else %}
    {% for post in postList %}
    <div class="post-container">
      <div class="post-user">
        <img src="{{url_for('static', filename=post['urlavatar'])}}" />
        {% if is_this_third_party_profile %}
          <a href="/perfil/{{user_personal_info.id}}">{{post['nombre']}} {{post['apellido']}}</a>
        {% else %}
          <a href="/perfil/{{session['id']}}">{{post['nombre']}} {{post['apellido']}}</a>
        {% endif %}
      </div>
      <a class="image-container" href="/publicacion/{{post['id']}}">
        <img src="{{url_for('static', filename=post['url'])}}" />
      </a>
      <div class="post-text">
        <p>{{post['text']}}</p>
      </div>
    </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}