{% extends 'base.html' %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/navegacion.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='/css/feed.css' ) }}" />
{% endblock %} {% block nav %}
<div class="container2">
    <!-- Navigation -->
    <nav class="nav-main">
        <!-- Left Nav -->
        <ul class="nav-menu">
            <li>
                <a href="/feed/">Inicio</a>
            </li>
            <li>
                <a href="/perfil/">Perfil</a>
            </li>
            <li>
                <a href="/nueva_publicacion/">Crear publicación</a>
            </li>
            <li>
                <a href="/ayuda/">Ayuda</a>
            </li>
            <li>
                <a href="/salir/">Cerrar Sesion</a>
            </li>
            <li>
                <a href="/mensajes/{{session['id']}}">Mis mensajes</a>
            </li>
            <form class="search-area" method="POST">
                <div class="search-box">{{form_busqueda.texto(placeholder="Buscar...")}}</div>
            </form>
        </ul>
    </nav>
</div>
<hr />
{% endblock %} {% block contenido %}
<div class="main">
    <div class="container-full-post">
        <div class="avausuario">
            <img src="{{url_for('static', filename=ava )}}" class="avatar" alt="avatar" />
        </div>

        <div class="nom">
            <p>{{postInfo[0][0]}} {{postInfo[0][1]}}</p>
            <p style="font-size: 12px" class="time2">{{postInfo[0][2]}}</p>

            {% if session['ema'] == owner %}
            <div id="eli_edit">
                <a href="/eliminar/{{id_img}}" class="hijo3">
                    <input type="button" name="elibtn" id="elibtn" value="Eliminar" />
                </a>
                <a href="/editar/{{id_img}}" class="hijo3">
                    <input type="button" name="editbtn" id="editbtn" value="Editar" />
                </a>
            </div>
            {% endif %}

        </div>

        <div class="parrafo">
            <p>{{ postInfo[0][3] }}</p>
        </div>
        <div class="imagenesfull">
            <figure>
                <img src="{{url_for('static', filename=postInfo[0][4])}}" alt="publicación " class="imgpubli2" />
            </figure>
        </div>

    </div>
    <div class="comment_block">
        <!-- Usado por #user para crear un nuevo comentario -->
        <div class="create_new_comment">
            <!-- Avatar del actual usuario -->
            <div id="user_avatar">
                <img src="{{url_for('static', filename=ava )}}" />
            </div>
            <!-- the input field -->
            <form class="input_comment" method="POST">
                {{ form_comentar.comment_text(placeholder="Escribe aquí tu comentario")}}
                {{ form_comentar.comment_btn }}
            </form>
        </div>


        {% for comentario in commentList %}
        <!--comentario-->
        <div class="new_comment">
            <!-- Construir comentario -->
            <ul class="user_comment">
                <!-- avatar del usuario actual -->
                <div class="user_avatar">
                    <img src="{{ url_for('static', filename=comentario[6] ) }}" />
                </div>
                <!-- Cuerpo del comentario -->
                <div class="comment_body">
                    <p>
                        {{comentario[4]}}
                    </p>
                </div>

                <!-- comentario toolbar -->
                <div class="comment_toolbar">
                    <!-- fecha y hora -->
                    <div class="comment_details">
                        <ul>
                            <li>
                                <i class="fa fa-pencil"></i>
                                <a href="#" class="user">{{comentario[2]}} {{comentario[3]}}</a>
                            </li>
                            <li><i class="fa fa-clock-o"></i>{{ comentario[5] }}</li>
                            {% if session['ema'] == comentario[1] %}
                            <div id="eli_comment">
                                <a href="/eliminarcomment/{{id_img}}/{{comentario[0]}}" class="hijo3">
                                    <input type="button" name="elicommentbtn" id="elicommentbtn" value="Borrar" />
                                </a>
                            </div>
                            {% endif %}
                        </ul>
                    </div>

                </div>
            </ul>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}