{% extends 'base.html' %} {% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/registro.css' ) }}" />
{% endblock %} {% block contenido %}
<form class="signup-form" name="signup-form" id="signup-form" action="/registro/" method="POST">
    <h1 class="title">Registrate</h1>

    <div class="fullname  form-group">
        {{form_register.signup_first_name(placeholder="Nombres")}} {{form_register.signup_last_name(placeholder="Apellidos")}}
    </div>

    <div class="emails-container form-group">
        {{form_register.signup_email(placeholder="Email")}} {{form_register.signup_confirm_email(placeholder="Confirmar email")}}
    </div>

    <div class="passwords-container form-group">{{form_register.signup_password(placeholder="Contraseña")}} {{form_register.signup_confirm_password(placeholder="Confirmar contraseña")}}</div>
    <div class="birthdate-container">
        <label for="signup_birthdate">Fecha de nacimiento</label>
        {{form_register.signup_birthdate}}
    </div>

    <div class="sex-container">
        <label for="signup_sex">Sexo</label>
        {{form_register.signup_sex}}
    </div>
        {{form_register.signup_submit(class="btn btn-primary")}}
    <div class="form-footer">
        <a class="go-to-login" href="/login/"> Ya tengo una cuenta</a>
        <p class="terms">
            Al hacer clic en "Registrar", aceptas nuestras
            <a href="/terms-and-conditions" id="terms-link" target="_blank" rel="nofollow">Condiciones</a>,
            <a href="/privacy" id="privacy-link" target="_blank" rel="nofollow">Política de datos</a>
            y
            <a href="/cookies-policy" id="cookie-use-link" target="_blank" rel="nofollow">Política de cookies</a>.
        </p>
    </div>
    <div class="errors-contianer">
        {% for msg in get_flashed_messages() %}
            <div class="error-message">{{msg}}</div>
        {% endfor %}
    </div>
</form>

{% endblock %}