{% extends 'base.html' %} {% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/roles.css' ) }}" />
{% endblock %}

{% block contenido %}
<section>

    <div id="roles">
        <label for="Asignacion de roles">Asignación de roles</label>

        <a href="a" class="imgform">
            <img src="{{url_for('static', filename=ava)}}" id="logo" alt="avatar" />
        </a>
        <span class="usrform">Usuario: {{nom}} {{ape}} </span>
        <span class="rolact">Rol Actual: {{rol}}</span>

        <div id="radio">
            <h4>Elija el nuevo rol:</h4>
            {% if rolLog=='SUPERADMINISTRADOR' %}
            <div class="opciones">
                <form class="admin" method="POST">
                    {{form.btn_admin}}
                </form>
                <form class="user" method="POST">
                    {{form.btn_user}}
                </form>
            </div>
            {% elif rolLog == 'ADMINISTRADOR' %}
            {% if rol==USUARIO%}
            <form class="admin" method="POST">
                { {form.btn_admin}}
            </form>
            {% else %}
            <div class="denied">
                <p>NO PUEDES CAMBIARLE EL ROL A ESTE USUARIO</p>
            </div>
            {% endif %}
            {% endif %}



        </div>



    </div>

</section>

{% endblock %}