{% extends 'base.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/feed.css' ) }}" />
{% endblock %}

{% block contenido %}

<div class="publicacion">
    <form class="publicar" method="POST" enctype="multipart/form-data">
        <img src="{{url_for('static', filename=ava)}}" id="logo" alt="avatar" />
        <div class="nombres">
            <div class="remitente">
                <p>DE:</p>
                <p>{{session['nom']}} {{session['ape']}}</p>
            </div>
            <div class="receptor">
                <p>PARA:</p>
                <P>{{receptor[0][0]}} {{receptor[0][1]}}</P>
            </div>
        </div>

        <div class="contenedor_texto">
            <div>{{form_mensaje.texto_mensaje(placeholder="Escribe aquí tu mensaje")}}</div>
        </div>

        <div id="ultimate">
            <div id="btngdr">{{form_mensaje.btn_mensaje()}}</div>
        </div>
    </form>
</div>
{% endblock %}